

.swiperSize  {
    width: 100%;
    height: 100%;
}

.swiperSize .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperSize .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiperSize .swiper-slide {
    width: 150px;
}
.swiperSize .swiper-slide:nth-child(1) > span{
    border-right: 1px solid #000;
}
.swiperSize{

}