.address-form {
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;

  .address-tab-form {
    width: 800px;
    display: flex;
    column-gap: 30px;
  }
}

.login-tab-form-sec-div {
  margin-top: 15px;

  input {
    padding: 16px;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: var(--iran-sans);
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000000;

    &:focus {
      outline: 0;
    }
  }
}


.login-btn {
  margin-top: 32px;
  background: #ffffff;
  padding: 16px;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: (--iran-sans);

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.alam-text {
  font-size: 14px;
  text-align: left;
  color: red;
  display: block;
}

.add-address-pay-title {
  font-size: 20px;
}

.add-address-pay-prag {
  font-size: 16px;
  margin-bottom: 40px;
}

.address-box-- {
  display: inline-block;
  margin-left: 40px;

}

.address-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 800px;
}

.address-box-new- {
  border: 1px solid #000000;
  padding: 8px 16px;
}


.continue-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: flex-end;

  .continue-form {
    background: black;
    color: white;
    .continue-btn{
      cursor: pointer;
      height: 100%;
      background: transparent;
      border: 0;
      color: white;
      height: 72px;
      width: 150px;
    }
    .disable.continue-btn{
      height: 100%;
      background: #727272;
      border: 0;
      color: white;
    }
  }
}