.address-form{
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  .address-tab-form{
    width: 600px;
  }
}
.login-tab-form-sec-div {
  margin-top: 15px;

  input {
    padding: 16px;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: var(--iran-sans);
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000000;
    &:focus{
      outline: 0;
    }
  }
}


.login-btn {
  margin-top: 32px;
  background: #ffffff;
  padding: 16px;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: (--iran-sans);
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}
.alam-text{
  font-size: 14px;
  text-align: left;
  color: red;
  display: block;
}