.address_form {
  margin-top: 200px;
  margin-right: 100px;
  margin-left: 100px;

  .address_tab_form {
    width: 800px;
    display: flex;
    column-gap: 30px;
  }
}

.login_tab_form_sec_div {
  margin-top: 15px;


}


.login_btn {
  margin-top: 32px;
  background: #ffffff;
  padding: 16px;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: (--iran-sans);

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.alam_text {
  font-size: 14px;
  text-align: left;
  color: red;
  display: block;
}

.add_address_pay_title {
  font-size: 20px;
}

.add_address_pay_prag {
  font-size: 16px;
  margin-bottom: 40px;
}

.address_box__ {
  display: inline-block;
  margin-left: 40px;

}

.address_row {
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(3, 1fr);
  //grid-column-gap: 20px;
  //grid-row-gap: 20px;
  //width: 800px;
}

.address_box_new__ {
  border: 1px solid #000000;
  padding: 8px 16px;
}


.continue_bar {
  height: 73px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: flex-end;
  background: white;
  .continue_form {
    background: black;
    color: white;

    .continue_btn {
      cursor: pointer;
      height: 100%;
      background: transparent;
      border: 0;
      color: white;
      height: 72px;
      width: 150px;
    }

    .disable.continue_btn {
      height: 100%;
      background: #727272;
      border: 0;
      color: white;
    }
  }
}


@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}


@media (max-width: 769px) {
  .address_form {
    margin-top: 200px;
    width: 100% !important;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .address_row {
    display: block !important;
    width: 100% !important;
    padding-bottom: 200px;
  }
  .address_tab_form {
    width: 100% !important;
  }
  .continue_bar {
    background: white!important;
    z-index: 10;
  }
}

@media (max-width: 426px) {
  .address_form {
    margin-top: 120px;
    width: 100% !important;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .address_row {
    display: block !important;
    width: 100% !important;
    padding-bottom: 200px;
  }
  .address_tab_form {
    width: 100% !important;
  }
  .continue_bar {
    background: white!important;
    z-index: 10;
  }
}
