.size_alert_box_sec {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: rgba(256, 256, 256, 0.5);
  /*display: flex;*/
  justify-content: center;
  align-items: center;

  .size_alert_box {
    width: 480px;
    border: 1px solid #000;
    background: #ffffff;
    height: auto;

    .size_alert_box_padding {
      padding: 16px;
    }

    .size_alert_box_close {
      background: #ffffff;
      width: 100%;
      padding: 12px;
      border: 0;
      border-top: 1px solid #000000;
      cursor: pointer;
    }
  }
}