.inner_product_archive_sec {
  border-top: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  .main_cart_sec___ {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }
}

.inner_product_archive_filter,
.inner_product_archive_type {

  position: relative;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 16px;

  .inner_product_archive_filter_items {
    color: black;
    cursor: pointer;
    border: 1px solid #000;
    padding: 8px 16px;
    display: inline-block;
    margin-left: 16px;
  }

  .type_active {
    font-weight: 700 !important;
  }

  .show-filter {
    display: block !important;
  }

  .size_filter_sec {
    position: absolute;
    z-index: 2;
    background: #ffffff;
    width: 400px;
    top: calc(100% + 16px);
    border: 1px solid #000000;


    .size_filter_sec_ff {
      display: flex;

      .color_item:last-child {
        border-left: 0;
      }

      .color_item {
        display: inline-block;
        font-weight: 300;
        cursor: pointer;
        margin: 0;
        padding: 16px;
        flex: 1 1 25%;
        border: 0;
        text-align: center;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        border-top: 0;
      }
    }


  }

  .color_filter_sec {

    position: absolute;
    z-index: 10;
    background: #ffffff;
    width: 400px;
    top: calc(100% + 16px);
    border: 1px solid #000000;

    .color_filter_sec_ff {
      .color_filter_sec_ff_item:nth-child(4),
      .color_filter_sec_ff_item:nth-child(8),
      .color_filter_sec_ff_item:nth-child(12) {
        border-left: 0;
      }

      .size_filter_active {
        font-weight: 900 !important;
      }

      .color_filter_sec_ff_item {
        cursor: pointer;
        display: inline-block;
        width: 100px;
        box-sizing: border-box;
        margin: 0;

        border-left: 1px solid #000000;
        padding: 20px;
        border-bottom: 1px solid #000000;

        .color_filter_sec_ff_item_color {
          width: 24px;
          height: 24px;
          display: block;

          border: 1px solid #000000;
          margin: auto;
        }

        .color_filter_sec_ff_item_name {
          border: none;
          display: block;
          width: 100%;
          text-align: center;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          padding-top: 8px;
        }
      }
    }
  }

  .price_filter_sec {

    position: absolute;
    z-index: 2;
    background: #ffffff;
    width: 400px;
    top: calc(100% + 16px);
    border: 1px solid #000000;

    .price_filter_sec_ff_item {
      cursor: pointer;
      display: block;
      padding: 16px;
      border-bottom: 1px solid #000000;
    }

  }


  .filter_sec_btn {
    display: flex;
    margin-top: 8px;

    .show_result,
    .delete_filter {
      cursor: pointer;
      padding: 16px;
      width: 50%;
      max-width: 50%;
      flex-grow: 1;
      background: white;
      border: 1px solid #000000;
      border-right: 0;
      border-bottom: 0;
    }

    .show_result {
      border-right: 0 !important;
      border-left: 0 !important;
    }


  }

}



.main_inner_product_archive{
  margin-top: 180px;
}
@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
  .inner_product_archive_sec .main_cart_sec___ {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
}


@media (max-width: 769px) {


  .main_log_sec {
    display: none
  }

  .main_head {
    height: unset !important;
  }
  .inner_product_archive_sec {
    margin-top: 16px;
  }
  .inner_product_archive_sec .main_cart_sec___ {
    flex-basis: 50%;
    max-width: 50%;
  }
  .inner_product_archive_filter, .inner_product_archive_type {
    margin-top: 0;
    margin-right: 32px;
    margin-left: 32px;

    .inner_product_archive_filter_items {
      padding: 5px;
    }
  }
  .inner_product_archive_filter .inner_product_archive_filter_items {
    margin-top: 16px;
    border: 0 !important;
    font-size: 0.765rem;

  }
  .inner_product_archive_type .inner_product_archive_filter_items {
    font-size: 0.765rem;
  }


  .price_filter_sec,
  .color_filter_sec,
  .size_filter_sec {
    position: fixed!important;
    top: 100vh!important;
    right: 0!important;
    width: 100%!important;
    transform: translateY(-100%)!important;
    z-index: 100!important;
  }


  .inner_product_archive_sec .main_cart_sec___ {
    flex-basis: 33.3333333% !important;
    max-width: 33.3333333% !important;
  }

}

@media (max-width: 426px) {
  .main_inner_product_archive{
    margin-top: 100px!important;
  }
  .inner_product_archive_sec .main_cart_sec___ {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .size-filter-sec-ff {
    display: flex;
  }
}
