.auth_sec {
  display: flex;
  margin-top: 200px;

  .login_tab {
    width: 400px;
    margin-right: 100px;
    margin-left: 100px;

    .login_tab_form_sec_div {
      margin-top: 15px;


    }


    .forgot_pass_link {
      margin-top: 10px;
      display: block;
      color: black;
    }
  }

  .register_tab {
    width: 400px;

    .register-btn {
      border: 1px solid #000000;
      text-align: center;
      display: block;
      padding: 8px;
      color: black;
      font-size: 14px;
    }
  }
}

.login_btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 32px;
  background: #ffffff;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
  color: black;

  &:hover {
    color: black;
  }
}

.alam-text {
  font-size: 14px;
  width: 100%;
  color: red;
  text-align: left;
  display: block;
}


@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
  .auth_sec {
    margin-right: 50px;
    margin-left: 50px;
  }
  .login_tab {
    margin-right: 0 !important;
    margin-left: 30px !important;
  }
}


@media (max-width: 769px) {

}

@media (max-width: 426px) {
  .auth_sec {
    flex-direction: column;
  }
  .register_tab {
    margin-top: 60px;
  }
  .register_tab,
  .login_tab {
    width: 100% !important;
  }
}



//register

.register_sec_reg {
  display: flex;

  margin-top: 200px;
  .register_sec {
    display: flex;


    .login_tab {
      width: 400px;
      margin-right: 100px;
      margin-left: 100px;

      .login_tab_form_sec_div {
        margin-top: 15px;

        input {

        }


      }



    }

    .register-tab {
      width: 400px;

      .register-btn {
        border: 1px solid #000000;
        display: block;
        color: #000000;
      }
    }
  }
}

.login_btn {
  font-family: var(--iran-sens);
  margin-top: 32px;
  background: #ffffff;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.disable {
  opacity: 0.8;
  background: #727272;
}

.forgot_pass_link {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  color: black;
}
.alam_text {
  font-size: 14px;
  width: 100%;
  color: red;
  text-align: left;
  display: block;
}


@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

  .register_tab,
  .login_tab {
    margin-right: 50px!important;
    margin-left: 50px!important;
    //width: 100% !important;
  }
}


@media (max-width: 769px) {

}

@media (max-width: 426px) {
  .register_sec_reg{
    display: block;
  }
  .auth_sec {
    flex-direction: column;
  }
  .register_tab {
    margin-top: 60px;
  }
  .register_tab,
  .login_tab {
    margin-right: 50px!important;
    margin-left: 50px!important;
    width: 100% !important;
  }
}



.otp_sec {

  margin-top: 200px;
  width: 400px;
  margin-right: 100px;
  margin-left: 100px;

  .auth_tab {
    .auth_tab_form_sec_div {
      margin-top: 15px;


    }

    .sent_timer {
      opacity: 0.8;
      margin-bottom: 0;
      height: 40px;
      display: flex;
      justify-content: center;
      align-content: center;
      background: #727272;
      margin-top: 32px;
      color: #ffffff;
      width: 100%;
      border: 1px solid #000000;
      cursor: pointer;
      font-size: 0.875rem!important;
      font-family: var(--irans-sans);
      box-sizing: border-box;
      text-align: center;
      line-height: 40px;
    }

  }


  .forgot_pass + link {
    margin-top: 10px;
    display: block;
  }
}


.login_btn {
  margin-top: 32px;
  background: #ffffff;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: var(--irans-sans);

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.alam_text {
  font-size: 14px;
  width: 100%;
  color: red;
  text-align: left;
  display: block;
}

.disable {
  opacity: 0.8;
  background: #727272;
}


@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
  .otp_sec {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
}


@media (max-width: 769px) {

}

@media (max-width: 426px) {
  .otp_sec {
    display: block !important;
    width: 100%;
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 50px!important;
    padding-left: 50px!important;
    box-sizing: border-box;
  }
}
