.cart_main_sec {
  margin-top: 200px;
  .cart_tab_head {
    column-gap: 8px;
    padding: 8px 32px;
    min-width: 200px;
    text-align: center;
    display: inline-flex;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }



}
.cart_tab_item_sec {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: flex;

  .cart_tab_item {

    border-left: 1px solid #000000;

    img {
      height: auto;
      width: 100%;
      border-bottom: 1px solid #000000;
    }

    .cart_tab_item_header {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
        align-self: center;
      }

      span {
        cursor: pointer;
        font-size: 26px;
        font-weight: 100;
      }
    }

    .cart_tab_item_price {
      margin: 0;
      padding-right: 16px;
      padding-left: 16px;
    }

    .text_left {
      text-align: left;
      font-weight: 800;
    }

    .cart_tab_item_attribute {
      margin: 0;
      padding: 0 16px;
      margin-top: 24px;
      margin-bottom: 16px;
      display: block;
    }

    .cart_tab_item_quantity_sec {
      padding: 0 16px;
      margin-bottom: 16px;

      .cart_tab_item_counter_box {
        .cart_tab_item_counter_increment {
          border: 1px solid #000000;
          width: 32px;
          height: 32px;
          display: inline-block;
          text-align: center;
          line-height: 32px;
          cursor: pointer;
        }

        .cart_tab_item_counter_decrement {
          border: 1px solid #000000;
          width: 32px;
          height: 32px;
          display: inline-block;
          text-align: center;
          line-height: 32px;
          cursor: pointer;
        }

        .cart_tab_item_counter_quantity {
          border-top: 1px solid #000000;
          border-bottom: 1px solid #000000;
          width: 32px;
          height: 32px;
          display: inline-block;
          text-align: center;
          line-height: 32px;
        }
      }
    }
  }
}
.payment_bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  background: rgba(256, 256, 256, 0.9);
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #000;
  gap: 32px;
  z-index: 15;

  .payment_bar_label {
    margin-bottom: 8px;
    font-weight: 800;
    display: inline-block;
    margin-left: 16px;
  }

  p {
    margin: 0;
  }

  .total_pay {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .payment_btn {
    line-height: 72px;
    background: #000000;
    color: #ffffff;
    border: 0;
    width: 150px;
    text-align: center;
    height: 72px;
  }

}

.product_cart_medium_info_price_sec {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;

  .product_cart_medium_info_price {
    display: inline-block;
  }

  .price_sub {
    font-size: 14px;
    color: #727272;
    float: left;
    display: inline-block;
  }
}

.cart_tab_item{
  width: 16.66667%;
  max-width: 16.66667%;
  flex: 1 1 16.66667%;
}
.cart_tab_item_sec{
  display: flex;
  flex-wrap: wrap;
}
.cart_tab_item_image{
  height: auto;
  width: 100%;
}
.zIndexController{
  z-index: 2;
}
.selcton_height{
  height: 400px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1440px) {
  .cart_tab_item{
    width: 20%;
    max-width: 20%;
    flex: 1 1 20%;
  }
  .cart_tab_item_sec{
    display: flex;
    flex-wrap: wrap;
  }
  .cart_tab_item_image{
    height: auto;
    width: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .cart_tab_item{
    width: 25%;
    max-width: 25%;
    flex: 1 1 25%;
  }
  .cart_tab_item_sec{
    display: flex;
    flex-wrap: wrap;
  }
  .cart_tab_item_image{
    height: auto;
    width: 100%;
  }

}
@media screen and (max-width: 768px) {
  .cart_tab_item{
    width: 33.33334%;
    max-width: 33.33334%;
    flex: 1 1 33.33334%;
  }
  .cart_tab_item_sec{
    display: flex;
    flex-wrap: wrap;
  }
  .cart_tab_item_image{
    height: auto;
    width: 100%;
  }
  .selcton_height{
    height: 300px!important;
    margin-bottom: 30px;
  }

}
@media screen and (max-width: 425px) {
  .cart_tab_item{
    width: 50%;
    max-width: 50%;
    flex: 1 1 50%;
  }
  .cart_tab_item_sec{
    display: flex;
    flex-wrap: wrap;
  }
  .cart_tab_item_image{
    height: auto;
    width: 100%;
  }
  .payment_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    background: rgba(256, 256, 256, 1);
  }
  .cart_main_sec {
    margin-top: 140px;
  }
}