.dashboard_sec {
  margin-top: 200px;
  margin-right: 100px;
  margin-left: 100px;

  .dashboard_menu {
    margin-bottom: 32px;

    a {
      border: 1px solid #000000;
      margin-right: 8px;
      color: black;
      padding: 8px 32px;
      display: inline-block;
    }
  }
}

.dashboard_span_data{
  background: white;
}

.base_dashboard_br {
  margin-bottom: 16px;
  margin-top: 32px;
  border: 1px solid #000000;
  width: 600px;
  padding: 16px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 30px;
      a {
        justify-items: center;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.77);
        line-height: 64px;
        display: flex;

        .icon {
          display: flex;
          justify-content: center;
          transform: rotate(180deg);
          flex-direction: column;
        }
      }
    }
  }
}

.dashboard_footer_link {
  color: #727272;
  display: block;
  margin-bottom: 8px;
  text-decoration: underline;
}


.change_password_sec {
  width: 380px;

  .change_password_sec_title {
    margin-bottom: 8px;
  }

  .change_password_sec_sub__title {
    margin-bottom: 20px;
    display: block;
  }
}

.dashboard_sec_input_wrapper {
  margin-bottom: 8px;
}

.address_box_header {

  display: flex;
  justify-content: space-between;
  width: 600px;

  .address_box_header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .address_box_header_title_txt{
      display: flex;
      gap: 8px;
    }
  }

  .add_address_btn {
    background: white;
    border: 1px solid #000000;
    height: 2.5rem;
    padding: 8px;
    color: #000000;
    box-sizing: border-box;
  }

}
.show_more{
  display: block;
  text-align: left;
  text-decoration: underline;
  font-size: 0.785em;
  margin-top: 15px;
}

.address-box {
  margin-right: 100px;
  margin-left: 100px;

  .address-item {
    padding: 16px;
    border: 1px solid #000000;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 16px;

    .address-item-name {
      color: #000000;
      text-align: right;
      display: flex;
      justify-content: space-between;

      span {
        cursor: pointer;
      }

      .edit-menu-sec {
        position: relative;

        .show-menu {
          display: block !important;
        }

        .edit-menu {
          position: absolute;
          border: 1px solid #000;
          background: #ffffff;
          z-index: 2;
          display: none;

          > ul {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {
              span,
              a {
                text-align: center;
                padding: 16px;
                display: block;
              }


            }
          }
        }
      }
    }

    .address-item-span {
      border: 1px solid #000000;
      color: #727272;
      font-size: 12px;
      padding: 5px;
      margin-bottom: 16px;
      display: inline-block;
    }
  }
}

.loading_gift{
  position: absolute;
  top: 160px;
}
.disable {
  opacity: 0.8!important;
  background: #727272!important;
}


.main_btn {
  background: white;
  margin-top: 40px;
  border: 1px solid #000000;
  text-align: center!important;
  display: block;
  padding: 8px;
  color: black;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;

}
.loader{
  margin: auto;
}
@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}


@media (max-width: 769px) {
  .dashboard_sec {

    margin-right: 50px !important;
    margin-left: 50px !important;
  }
  .dashboard_content {
    width: 100%;
  }
  .base_dashboard_br {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 426px) {
  .dashboard_sec {
    margin-top: 140px;
  }
}

//new


.address_form {
  margin-top: 200px;
  margin-right: 100px;
  margin-left: 100px;

  .address_tab_form {
    width: 400px;
  }
}

.login_tab_form_sec_div {
  margin-top: 15px;


}


.login_btn {
  margin-top: 32px;
  background: #ffffff;
  padding: 16px;
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: (--iran-sans);

}

.alam_text {
  font-size: 14px;
  text-align: left;
  color: red;
  display: block;
}

.address_item_sec {
  margin-top: 30px;
}

.address_box {
  margin-right: 100px;
  margin-left: 100px;


}

.address_item {
  padding: 16px;
  border: 1px solid #000000;
  width: 600px;
  box-sizing: border-box;
  margin-bottom: 16px;

  .address_item_name {
    color: #000000;
    text-align: right;
    display: flex;
    justify-content: space-between;

    span {
      cursor: pointer;
    }

    .edit_menu_sec {
      position: relative;

      .show_menu {
        display: block !important;
      }

      .edit_menu {
        position: absolute;
        border: 1px solid #000;
        background: #ffffff;
        z-index: 2;


        > ul {
          padding: 0;
          margin: 0;
          list-style: none;

          > li {
            span,
            a {
              text-align: center;
              padding: 16px;
              display: block;
            }


          }
        }
      }
    }
  }

  .address_item_span {
    border: 1px solid #000000;
    color: #727272;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 16px;
    display: inline-block;
  }
}

.two_wrrop_sec{
  display: flex;
  flex-direction: column;

}
.two_wrrop_sec_main_title{
  line-height: 20px!important;
}
.two_wrrop_sec_main_sub_title{
  line-height: 20px!important;
  color: #a5a5a5;
}
.address_tab_form_btn {
  width: 100%;
  margin-top: 20px;
  background: white;
  border: 1px solid #000000;
}



@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}


@media (max-width: 769px) {
  .dashboard_sec {

    margin-right: 50px !important;
    margin-left: 50px !important;
  }
  .dashboard_content {
    width: 100%;
  }
  .base_dashboard_br {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 426px) {
  .address_form{
    width: 100%!important;
    max-width: 100%!important;
    margin-right: unset!important;
    margin-left: unset!important;
    margin-top: 140px !important;
    padding-right: 30px;
    padding-left: 30px;

  }
  .dashboard_sec{
    margin-right: unset!important;
    margin-left: unset!important;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%!important;
    max-width: 100%!important;
  }
  .address_item{
    width: 100%!important;
    max-width: 100%!important;
  }
  .address_box_header{
    width: unset!important;
  }
  .login_tab_form_sec_div{
    width: 100%;
    max-width: 100%;
  }
  .address_tab_form{
    width: 100%;
    max-width: 100%;
  }
  .address_row{
    width: 100%;
    max-width: 100%;
  }
}





.change_password_sec {
  width: 380px;

  .change_password_sec_title {
    margin-bottom: 8px;
  }

  .change_password_sec_sub__title {
    margin-bottom: 20px;
    display: block;
  }
}

.dashboard_sec_input_wrapper {
  margin-bottom: 8px;
}

.address_box_header {

  display: flex;
  justify-content: space-between;
  width: 600px;

  .address_box_header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .add_address_btn {
    border: 1px solid #000000;
    height: 2.5rem;
    padding: 8px;
    color: #000000;
    box-sizing: border-box;
  }

}

.address-box {
  margin-right: 100px;
  margin-left: 100px;

  .address-item {
    padding: 16px;
    border: 1px solid #000000;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 16px;

    .address-item-name {
      color: #000000;
      text-align: right;
      display: flex;
      justify-content: space-between;

      span {
        cursor: pointer;
      }

      .edit-menu-sec {
        position: relative;

        .show-menu {
          display: block !important;
        }

        .edit-menu {
          position: absolute;
          border: 1px solid #000;
          background: #ffffff;
          z-index: 2;
          display: none;

          > ul {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {
              span,
              a {
                text-align: center;
                padding: 16px;
                display: block;
              }


            }
          }
        }
      }
    }

    .address-item-span {
      border: 1px solid #000000;
      color: #727272;
      font-size: 12px;
      padding: 5px;
      margin-bottom: 16px;
      display: inline-block;
    }
  }
}

.main_btn.disable{
  opacity: 0.3;
}

.main_btn {
  margin-top: 40px;
  border: 1px solid #000000;
  text-align: center;
  display: block;
  padding: 8px;
  color: black;
  font-size: 0.875rem;
  width: 100%;

}
.order_cart__{
  border: 1px solid #000000;
  padding: 30px;
  width: 400px;
  margin-bottom: 16px;
}
.order_id{
  display: inline-block;
  direction: ltr;
}
.order_cart__header__{
  display: flex;
  justify-content: space-between;
}
.order_cart__body__{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.text_grree{
   color: #2bef79;
}
.text_redd{
  color: red;
}
@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}


@media (max-width: 769px) {
  .dashboard_sec {

    //margin-right: 50px !important;
    //margin-left: 50px !important;
  }
  .dashboard_content {
    width: 100%;
  }
  .base_dashboard_br {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 426px) {
  .order_cart__{
    width: unset!important;
  }
}

