@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}
html {
    direction: rtl;
    overflow-x: hidden;
    font-family: var(--iran-sens);
    width: 100%;
    min-height: 100vh;
}


.select-base{
    width: 100%;

}