.main_head {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 30px;

  .main_bar {
    flex: 1 1 50%;
    max-width: 50%;
    width: 50%;
    display: flex;

    .burger_icon {
      cursor: pointer;
    }

    .logo_sec {
      .logo {
        width: 300px;
      }

      .main_menu_index {
        display: flex;
        margin-top: 30px;

        .main_menu_index_item {
          margin-left: 16px;

          .main_menu_index_item_item {
            cursor: pointer;
            color: #ecd35d;
          }
        }
      }

      .main_menu {
        margin-top: 50px;

        .main_menu_head_for_scroll {
          //overflow-x: scroll;
          border-bottom: 1px solid #000000;

          .main_menu_head {
            padding-bottom: 20px;
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            color: #ecd35d;
            column-gap: 32px;
            width: max-content;


            .main_menu_item {
              font-size: 1.2rem !important;

            }
          }
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
          padding: 5px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #161E28;
          -webkit-border-radius: 14px;
          -moz-border-radius: 14px;
          border-radius: 14px;
          padding: 5px;
          margin: 5px;
          border: 3px solid #f1f1f1;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }


        .main_menu_list_for_scroll {
          height: 600px;
          overflow-y: scroll;

          .main_menu_list {
            padding: 40px;

            .main_menu_list_ul {
              .main_menu_list_ul_item {
                color: black !important;
                height: 40px;

                a {
                  font-weight: 300 !important;

                  color: black !important;
                }
              }
            }

          }

        }


      }
    }
  }

  .side_bar {
    display: flex;
    flex: 1 1 50%;
    max-width: 50%;
    width: 50%;
    justify-content: space-between;

    .search_sec {
      width: 60%;

      input {
        padding: 8px;
      }
    }

    .access_bar {
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .access_bar_ul {
        display: flex;
        column-gap: 30px;


        a {
          color: white;
        }
      }
    }
  }
}


.logo_sec_active {
  background: white;
  margin-top: -20px;

  border: 1px solid #000;
  width: 400px;

  .logo {
    padding-top: 20px;
    padding-right: 5px;
  }

  .main_menu {
    .main_menu_head {


      .main_menu_item {
        font-weight: 300;


        .main_item_in_menu {

          cursor: pointer;
          color: black;
          //font-size: 1.2rem;
        }
      }
    }
  }
}
.mobile_nav_sec{
  display: none;
}

.access_bar_black{
  .access_bar_ul{
    a{
      color: #000000!important;
    }
  }
}
.search_box:focus{
  outline: none;
}
.search_box{
  border: 1px solid #000000;
}

.logo_sec_active .main_menu_index{
  display: none!important;
}

.loader{
  position: absolute;
  top: 168px;
  right: 65px;

}

@media screen and (max-width: 1440px) {

  .main_menu_list_for_scroll {
    height: 400px !important;
  }
}

@media screen and (max-width: 768px) {
  .side_bar {
    flex-direction: column-reverse;
    justify-content: start !important;
    column-gap: 16px !important;
  }
  .search_sec {
    margin-top: 20px !important;
    width: 100% !important;
  }
  .access_bar {
    height: unset !important;
  }
}

@media screen and (max-width: 425px) {
  .access_bar_mob_hidden {
    display: none;
  }
  .logo {
    width: 200px !important;
  }
  .main_bar {
    flex: unset !important;
    max-width: unset !important;
    width: unset !important;
    flex-grow: 1 !important;
  }
  .side_bar {
    width: unset !important;
    flex: unset !important;

  }
  .main_head {
    padding: 10px !important;
  }
  .search_sec {
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
    top: calc(100vh - 50px);
    transform: translateY(-100%);
    right: 0;
  }

  .main_menu {
    position: fixed;
  }

  .mob_main_menu_list_ul_item{
    height: 40px;
  }

}

@media screen and (max-width: 320px) {
  .logo {
    width: 150px !important;
  }
}


//mobile nav
@media screen and (max-width: 425px) {
  .single_sec_logo_hidden{
    display: none;
  }
  .logo_sec_active{
    background: unset!important;
    border: unset!important;
  }
  .mobile_nav_sec{
    display: block;
  }
  .main_menu{
    display: none!important;
  }
  .mobile_nav_sec {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    background: white;

    .mobile_nav_header {
      display: flex;
      padding: 10px;
      justify-content: space-between;
    }
  }

  .mobile_main_menu {
    display: flex;
    border-bottom: 1px solid #000000;

    .mobile_main_menu_item {
      padding: 15px;
    }
  }
  .mob_main_menu_list_for_scroll {
    height: calc(100vh - 200px);
    overflow-y: scroll;
  }
  .mob_main_menu_list {
    padding: 30px;
  }
  .mobile_nav_search_footer {
    border-bottom: 1px solid #000000;
    padding: 15px;

    input {
      width: 100%;
      border: 1px solid #000;
      padding: 5px;
    }
  }

  .mobile_nav_ul_footer{
    display: flex;
    span{
      padding: 15px;
    }
  }
  .mobile_nav_footer{
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 100%;
  }
}
