.order_detail_sec{
  margin-top: 200px;
}


.order_detail_main_sec_head{
  margin-right: 50px;
  width: 800px;
  border: 1px solid #000000;
  padding: 30px;

}
.cart_sec{
  margin-top: 30px;
}
.cart_title_me__{
  margin-right: 50px;
  margin-top: 60px;
}
.order_detail_main_sec_head_main{
  margin-bottom: 16px;
  >p{

  }
  display: flex;
  justify-content: space-between;
}
.order_adrees_box___{
  display: flex;

  >p{
    flex: 1 1 33.33334%;
    text-align: center;
  }
}


@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}



@media (max-width: 769px) {
  .order_detail_main_sec_head{
    //width: 100%!important;
    width: unset!important;
    margin-right: 100px!important;
    margin-left: 100px!important;
    border: 1px solid #000000;
    padding: 30px;

  }
}

@media (max-width: 426px) {
  .order_detail_sec{
    margin-top: 120px;
  }

  .order_detail_main_sec_head{
    //width: 100%!important;
    width: unset!important;
    margin-right: 30px!important;
    margin-left: 30px!important;}
}
