
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


}

.swiper-slide img {
    display: block;
    /*width: 100%;*/
    height: 100%;
    object-fit: cover;

}


.swiper {
    /*width: 100%;*/
    height: calc(100vh - 300px);
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;

}

.mySwiper2 {
    width: 476px;
}

.mySwiper2 img {
    padding-left: 15px;
}

.mySwiper img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;

    margin-right: 16px;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    /*display: none;*/
}

.mySwiper > .swiper-wrapper {
    display: block !important;


}

.mySwiper {
    width: 35px;
}
.mySwiper > .swiper-wrapper > .swiper-slide{
    width: 35px !important;
    height: 53px !important;
}
.mySwiper > .swiper-wrapper > .swiper-slide > img {
    width: 35px !important;
    height: 53px !important;

}


.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #000000;
}


@media (max-width: 1536px) {

}


@media (max-width: 1440px) {
    .mySwiper2 {
        width: 300px;
    }
}

@media (min-width: 1025px) {
    .product-main-wrraper > div {
        display: inline-block !important;
    }
}

@media (max-width: 1024px) {
    .mySwiper {
        display: none !important;
    }

    .mySwiper2 {

        width: 100%;
    }
}


@media (max-width: 769px) {
    .product_slider {
        width: 100% !important;
    }

    .mySwiper2 img {
        padding: 0 !important;
    }
}

@media (max-width: 426px) {

}


.swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite{
    width: 2px!important;
}


.swiper-slide{
    opacity: 1!important;
}