.product_main {
  margin-top: 200px;
  margin-right: 97px;
  margin-left: 97px;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 170px);

  > div {
    max-height: 100%;

  }


  .product_main_section_info {
    width: 25%;
    //width: 367px !important;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    height: calc(100vh - 300px);

    .product_main_section_info_for_border {
      border: 1px solid #000000;
      padding-left: 8px;
      max-height: 100%;

      .product_main_section_info_tab {

        padding: 34px 24px;
        box-sizing: border-box;
        /* width */

        overflow-y: scroll;
        max-height: calc(100vh - 300px);

        &::-webkit-scrollbar {
          width: 1px;
          margin-left: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: rgba(244, 244, 244, 100);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #000000;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #000000;
        }

        .product_main_section_info_tab_title {
          margin: 0;
          padding: 0;
          font-weight: 400;
          margin-bottom: 16px;

        }

        .product_main_section_info_more {
          display: none;
        }

        .product_main_section_info_pragh {
          margin-top: 20px;
          font-size: 0.975rem;
          font-weight: 400;
          height: 150px;

          overflow: hidden;
        }


        span {
          cursor: pointer;
          margin-top: 20px;
          display: block;
        }
      }
    }

  }

  .product_slider {
    direction: ltr;

    height: calc(100vh - 200px);

    .product_slider_slide {

      //overflow-y: scroll;
      //overflow-x: hidden;
      transition: 0.3ms all;

      &::-webkit-scrollbar {
        width: 1px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(204 204 204 / 100%);
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 10px;
      }

    }

    .product_slider_tumb {
      margin-right: 25px;
      display: flex;
      flex-direction: column;

      img {
        width: 26px;
        height: 40px;
      }
    }
  }


  .product_side_bar {
    width: 25%;
    height: calc(100vh - 227px);

    .add_to_cart {

      border: 1px solid #000000;
      box-sizing: border-box;

      .add_to_cart_info {
        padding: 32px 24px;
        border-bottom: 1px solid #000000;

        .main_title {
          margin: 0;
          font-size: 1.2rem;
        }

        .product_description {
          font-size: 0.875rem;
          max-height: 2.5rem !important;
          overflow: hidden;
        }

        .text_left {
          text-align: left;
        }

        .product_cart_medium_info_price_sec {
          margin-top: 8px;
          display: flex;
          justify-content: space-between;

          .product_cart_medium_info_price {
            display: inline-block;
          }

          .price_sub {
            font-size: 14px;
            color: #727272;
            float: left;
            display: inline-block;
            text-align: left;
          }
        }
      }


      .add_to_cart_variable {
        .add_to_cart_variable_padding {
          padding: 0 32px;
        }

        .add_to_cart_variable_color_label {
          margin-top: 16px;
          margin-bottom: 8px;
        }

        .color_bar_one {

          width: 24px;
          height: 24px;
          display: inline-block;
          margin-left: 20px;
          position: relative;
          border: 1px solid rgb(204 204 204 / 100%);;
        }

        .color_active::after {
          content: '';
          position: absolute;
          height: 1px;
          width: 5px;
          display: inline-block;
          background: rgba(0, 0, 0, 0.77);
          top: calc(100% + 2px);
          right: 50%;
          transform: translateX(50%);
        }

        .add_to_cart_variable_size_sec {
          margin-top: 16px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          column-gap: 16px;
          row-gap: 16px;
          //flex-wrap: wrap;
          .size_active {
            background: #000000 !important;
            color: #ffffff;
          }

          .add_to_cart_variable_size {
            flex: 1 1 calc(50% - 8px);
            max-width: calc(50% - 8px);
            width: calc(50% - 8px);
            //padding: 15px;
            box-sizing: border-box;
            display: inline-block;
            padding: 8px;
            background: #ffff;
            border: 1px solid #000000;
            display: flex;
            flex-direction: column;
            text-align: center;
            cursor: pointer;

            .sizeSujest_p {
              font-size: 0.675rem;
            }

            button {

            }
          }
        }
      }

      .add_to_cart_btn {
        border: 0;
        border-top: 1px solid #000000;
        width: 100%;
        margin-top: 15px;
        background: 0;
        height: 39px;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}


.swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 1px !important;
}

.product-main-section-info-pragh-show {
  height: unset !important;
}

.hidden {
  display: none;
}

.size_alert_box_sec {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: rgba(256, 256, 256, 0.5);
  /*display: flex;*/
  justify-content: center;
  align-items: center;

  .size_alert_box {
    width: 480px;
    border: 1px solid #000;
    background: #ffffff;
    height: auto;

    .size_alert_box_padding {
      padding: 16px;
    }

    .size_alert_box_close {
      background: #ffffff;
      width: 100%;
      padding: 12px;
      border: 0;
      border-top: 1px solid #000000;
      cursor: pointer;
    }
  }
}

.zIndexController {
  z-index: 2;
}

.inner-product-archive-sec {
  display: flex;

}

.you_also {
  margin-right: 32px;
}

.size_guid_sec {
  margin-top: 30px;
  display: flex;

  font-size: 0.875rem;

  > span:first-child {
    border-left: 1px solid #000;
    padding-left: 15px;
    margin-left: 15px;
  }

  > span {

    cursor: pointer;

  }
}

.guid_size_tab {

}

.sujest_sec_main_sec {
  width: 300px;
  margin: auto;
  margin-top: 60px;
  border: 1px solid #000000;

  > img {
    width: 100%;

  }

  .sujest_sec_size_display_name {
    margin-top: 30px;
    text-align: center;
  }

  .sujest_sec_size_display_name_alerm {
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    padding-right: 8px;
    padding-left: 8px;
  }

  .sujest_sec_size_display_name_alerm_sub {
    margin-top: 8px;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
  .product_main {
    margin-right: 50px;
    margin-left: 50px;
  }
  .product_main_section_info {
    display: none !important;
  }
  .product_slider {
    text-align: right;
  }
  .product_slider {
    width: 55% !important;
  }
  .product_side_bar {
    width: 40% !important;
  }
}

.basket_tab {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;


  background: rgba(256, 256, 256, 0.5);

  .basket_tab_sec {
    float: left;
    width: 716px;
    background: #ffffff;
    border-right: 1px solid #000000;

    .basket_tab_sec_close_item {
      font-size: 52px;
      display: block;
      cursor: pointer;
    }

    .basket_tab_sec_padding {
      padding: 32px;

      .size_padding_in_sec {
        margin-bottom: 8px;
        display: block;
      }

      .basket_tab_sec_product_div {
        border: 1px solid #000000;
        display: flex;
        //justify-content: flex-end;
        img {
          width: 150px;
          height: auto;
          border-left: 1px solid #000000;
        }

        .basket_tab_sec_product_div_info {
          padding: 16px;
        }
      }

      .basket_tab_sec_product_div_btn {
        box-sizing: border-box;
        color: #000000;
        text-align: center;
        display: block;
        border: 1px solid #000000;
        background: #ffffff;
        width: 100%;
        margin-top: 16px;
        padding: 8px;
      }
    }

    .basket_related_products_cart {
      width: 33.3334% !important;
      max-width: 33.3334% !important;
      flex: 1 1 33.3334% !important;
    }
  }
}

@media (max-width: 769px) {

}

@media (max-width: 426px) {
  .product_slider {
    margin-top: 55px;
  }
  .basket_tab_sec {
    float: left;
    width: 100% !important;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #000000;

  }
  .add_to_cart {

  }
  .main_related_product_sec {
    display: none;
  }
  .product_slider {
    width: 100% !important;
    height: unset;
  }
  .product_side_bar {
    position: fixed !important;
    top: 100vh;
    right: 0;
    transform: translateY(-100%);
    width: 100% !important;
    background: white;
    height: unset !important;
    z-index: 2;
  }
  .product_main {
    display: unset !important;
    margin-right: 0;
    margin-left: 0;
    width: 100% !important;
  }
  .product_description {
    display: none;
  }
  .product_cart_medium_info_price_sec,
  .add_to_cart_info {
    padding: 5px 15px 5px 15px !important;
  }
  .main_title {
    font-size: 0.785rem !important;

  }
  .basket_tab_sec_close_item {
    line-height: 60px !important;
  }


  .guid_tab_sec {

    width: 100%;
  }
  .find_your_size_tab_sec {
    width: 100%;
    max-width: 100%;
  }
  .guid_tab {
    width: 100%;
    max-width: 100%;
  }
  .guid_tab_sec {
    width: 100%;
    max-width: 100%;
  }
  .add_to_cart_variable_color_label {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .add_to_cart_variable_size_sec {
    margin-top: 5px !important;
  }
  .size_guid_sec {
    margin-top: 5px !important;
    margin-bottom: 30px !important;
  }
  .add_to_cart_btn {
    position: absolute;
    bottom: 100%;
    background: white !important;
  }

  .size_alert_box {
    width: 90%!important;
    margin: auto;
    border: 1px solid #000;
    background: #ffffff;
    height: auto;
  }
}


//guid tab


.guid_tab {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;


  background: rgba(256, 256, 256, 0.5);

  .guid_tab_sec {
    float: left;
    width: 500px;
    background: #ffffff;
    border-right: 1px solid #000000;
    min-height: 100vh;


    .guid_tab_sec_padding {
      padding: 32px;

      .guid_tab_sec_close_item {
        font-size: 52px;
        display: block;
        cursor: pointer;
      }

      .guid_image {
        > img {
          width: 100%;
        }
      }

      .size_lables {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .size_tables {
        > table {
          width: 100%;
          border: 1px solid #000000;

          tr {
            border-bottom: 1px solid #000000;

            td {
              padding-top: 8px;
              padding-bottom: 8px;
              padding-right: 16px;
              padding-left: 16px;
            }

            th {
              padding-top: 8px;
              padding-bottom: 8px;
              padding-right: 16px;
              padding-left: 16px;
            }
          }
        }
      }
    }
  }
}

.scroll_container {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 60px;
}

.size_cart {
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 1px solid #000000;
  text-align: center;
  display: block;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

}


.find_your_size_sec {
  min-height: 100vh;
}


.basket_tab {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;


  background: rgba(256, 256, 256, 0.5);

  .find_your_size_tab_sec {
    float: left;
    width: 716px;
    background: #ffffff;
    border-right: 1px solid #000000;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .basket_tab_sec_close_item {
      font-size: 52px;
      display: block;
      cursor: pointer;
    }

    .basket_tab_sec_padding {
      padding: 32px;

      .size_padding_in_sec {
        margin-bottom: 8px;
        display: block;
      }

      .basket_tab_sec_product_div {
        border: 1px solid #000000;
        display: flex;
        //justify-content: flex-end;
        img {
          width: 150px;
          height: auto;
          border-left: 1px solid #000000;
        }

        .basket_tab_sec_product_div_info {
          padding: 16px;
        }
      }

      .basket_tab_sec_product_div_btn {
        box-sizing: border-box;
        color: #000000;
        text-align: center;
        display: block;
        border: 1px solid #000000;
        background: #ffffff;
        width: 100%;
        margin-top: 16px;
        padding: 8px;
      }
    }

    .basket_related_products_cart {
      width: 33.3334% !important;
      max-width: 33.3334% !important;
      flex: 1 1 33.3334% !important;
    }
  }
}

.height_list_ul_main_sec {

  margin-top: 32px;
  position: relative;

  .height_list_selected {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
  }

  .height_list_ul {
    //display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border: 1px solid #000000;
    background: white;
    z-index: 5;
    height: 500px;
    overflow-y: scroll;

    li {
      text-align: center;
      padding: 8px;
    }

    li:hover {
      background: #d0d0d0;
      cursor: pointer;
    }
  }
}

.styles_list_ul {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border: 1px solid #000000;
  background: white;
  z-index: 5;
  height: 300px;
  overflow-y: scroll;

  li {
    text-align: center;
    padding: 8px;
  }

  li:hover {
    background: #d0d0d0;
    cursor: pointer;
  }
}

.height_list_selected {
  cursor: pointer;
}

.btn_set_size_to_user {
  background: white;
  width: 100%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  height: unset;
}