.product_cart_medium {

  //flex: 1 0 15%;
  //border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  box-sizing: border-box;

  .product_cart_medium_image {
    position: relative;
    display: flex;
    >a{
      width: 100%;
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      z-index: 1;
      position: relative;
    }

    .product_cart_medium_image_icon {
      position: absolute;
      bottom: 30px;
      z-index: 2;
      width: 10px;
      height: 10px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  .product_cart_medium_info {
    border-top: 1px solid #000000;
    padding: 12px 12px 32px 12px;
    color: #000000;

    .text_left {
      text-align: left;
      font-weight: bold;
    }

    .product_cart_medium_info_price_sec {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;

      .product-cart-medium-info-price {
        display: inline-block;
      }

      .price_sub {
        font-size: 14px;
        color: #727272;
        float: left;
        display: inline-block;
      }
    }

    .product_cart_medium_info_title {


      display: flex;
      justify-content: space-between;
      font-weight: 500;

      .bookmark_side {
        float: left;
        cursor: pointer;
      }

      .product_cart_medium_info_title_kk {

        padding: 0;
        margin: 0;
        font-size: 0.875em;
        font-weight: 400;
      }

    }
  }
}


@media (max-width: 1536px) {

}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}


@media (max-width: 769px) {
  .product_cart_medium_info_title_kk {
    font-size: 0.675em !important;
    font-weight: 400 !important;
  }

  .bookmark_side {
    width: 20px !important;
    height: 20px !important;

    > svg {
      width: 20px !important;
      height: 20px !important;
    }
  }
  .product_cart_medium_info {
    padding: 12px !important;
  }


}

@media (max-width: 426px) {
  //.main_inner_product_archive{
  //  margin-top: 120px!important;
  //}
}
